html body {
    margin: 0;
    padding: 0;
    background-color: cornflowerblue;
    max-width: 900px;
}

section h1 {
    text-align: center;
}

#main-container {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

#face-container {
    width: 400px;
    height: auto;
    text-align: center;
    background-color: pink;
}

#happy-face {
    height: auto;
    width: 200px;
}

.translate {
    transform: translate(150px, 75px);
    transition-duration: 5s;
    transition-delay: 0.2s;
}

.menu-header {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #24e2f0;
    border: #89f5ff;
    border-style: solid;
    border-width: 2px;

}

.menu {
    display: block;
    color: #89f5ff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;


}

.menu:hover {
    background-color: #1b565a;
}

.menu:active {
    background-color: #00eeff;
}

.container {
    background-color: #db7dd7;
    height: 150px;
    overflow: hidden;
}


.animated-square{
    height: 100px;
    width: 100px;
    background-color: #f6ff7f;
    position: relative;
    animation-name: example-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    filter: drop-shadow(8px 8px 10px #4e4e4c);
}

@keyframes example-animation {
    from {
        transform: 
        translateX(0px)
        translateY(0px)
        rotateY(0deg);
    }
    to {
        background-color: #f78558;
        transform: 
        translateX(100px)
        translateY(100px)
        rotateY(180deg);
    }
}


.container2 {
    background: url(https://img.freepik.com/free-vector/abstract-background_53876-43362.jpg?w=2000);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 150px;
    
}
.animated-square2{
    height: 100px;
    width: 100px;
    background-color: #e9fa00;
    position: relative;
    animation-name: example-animation2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    filter: opacity(65%);
}
@keyframes example-animation2 {
    from {
        transform: 
        translateX(0px)
        translateY(0px)
        rotateY(0deg);
    }
    to {
        background-color: #ff4800;
        transform: 
        translateX(100px)
        translateY(100px)
        rotateY(180deg);
    }
}

.container3 {
    background-color: #630d5e;
    height: 150px;
    overflow: auto;
}



#rcorner3 {
    border-radius: 90px;
}
.container3:hover
.animated-square3{
    height: 100px;
    width: 100px;
    background-color: #5cfa00;
    position: relative;
    animation-name: example-animation3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

#rcorner6{
    border-radius: 100px;
}


@keyframes example-animation3 {
    from {
        transform: 
        translateX(0px)
        translateY(0px)
        rotateY(0deg);
    }
    to {
        background-color: #ff0000;
        transform: 
        translateX(100px)
        translateY(100px)
        rotateY(180deg);
    }
}



